# Det här en är en avsiktilgt synlig gitignore-fil som är tänkt som en mall till LaTeX-repositories.

#Onödig LaTeX-output

*.aux
*.bbl
*.blg
*.log
*.out
*.toc
Assignment?.pdf
#Från Beamer
*.nav 
*.snm

*.eps
*-eps-converted-to.pdf
*~

course_notes_AMATH732_2016.pdf

Swing.pdf
energy_argument.pdf
intro_presentation.nav
pendulum.fig.bak
Project/references/
Circadian_rythms.pdf
Report_swing_circadian.pdf